* {
  margin: 0;
  padding: 0;
}

button{
  margin: 2%;
}

.carousel{
  border-radius: 10px;
  overflow: hidden;
}

.carousel-inner {
  height: 0;
  padding-bottom: 100%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
  position: absolute !important; /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}

body {
  --text: white;
  background-color: #AA775B;
  --primary-button: #71e1c1;
  --secondary-button: #021919;
  --accent: #72f3fd;
}

header {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

footer {
  position: absolute;
  left: 0;
  height: 30vh;
  width: 100%;
  object-fit: cover;
  pointer-events: none;

}

h2 {
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 7px;
}

img {
  cursor: pointer;
}



/*====== Custom image ======*/
.canva {
  height: 109vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.animation img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
}

.animation .choc_piece {
  width: 110px;
  height: 90px;
  left: 50%;
  transform: rotate(-30deg);
  top: 5px;
}

.animation .choc_bar {
  width: 385px;
  height: 180px;
  left: calc(50% - 40px);
  transform: rotate(-30deg);
  top: -148px;
}

.animation .choc_clack {
  width: 150px;
  height: 120px;
  left: 50%;
  transform: rotate(-30deg);
  top: 5px;
}

/*====== Custom image ======*/



/*====== Custom scrollbar ======*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f12b;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #33140098;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.762);
}

/*====== Custom scrollbar ======*/



/*====== Custom animation ======*/
.bg_style {
  color: #ffffff;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #331400;
  margin-top: -10px
}

.hidden {
  padding: clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px);
  margin: 30px min(50px) 0 min(50px);
  border: 5px groove #5d3a27;
  border-radius: 25px;
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
  transition: all 700ms;

}


.show {
  padding: clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px);
  margin: 30px min(50px) 0 min(50px);
  border: 5px groove #5d3a27;
  border-radius: 25px;
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transform: translateY(0);
  transition-delay: 200ms
}

.small-text {
  font-size: 80%;
  padding: clamp(10px, 3%, 50px) clamp(15px, 5%, 50px) clamp(10px, 3%, 50px) clamp(15px, 5%, 50px) !important
}


.hidden_portf {
  padding: clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px);
  margin: 15px min(50px) 0 min(50px);

  opacity: 0;
  filter: blur(3px);
  transform: translateY(100%);
  transition: all 700ms;
}


.show_portf {
  padding: clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px) clamp(15px, 5%, 50px);
  margin: 1px min(50px) 0 min(50px);

  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transition-delay: 200ms
}


.stacks_p{
  margin-top:1%;
display: block;
}

.hidden_icon {
  opacity: 0;
  filter: blur(3px);
  transform: translateX(-100%);
  transition: all 700ms;

}


.show_icon {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
  transform: translateY(0);
  transition-delay: 200ms
}

.stack_p:nth-child(2){
  transition-delay: 270ms;
}

.stack_p:nth-child(3){
  transition-delay: 340ms;
}

.stack_p:nth-child(4){
  transition-delay: 410ms;
}
.stack_p:nth-child(5){
  transition-delay: 580ms;
}

.stack_p:nth-child(6){
  transition-delay: 650ms;
}

.stack_p:nth-child(7){
  transition-delay: 720ms;
}


@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.Description{
  color: white;
  text-shadow: 0.7px 0 0 #000, 0 -0.7px 0 #000, 0 0.7px 0 #000, -0.7px 0 0 #000;
}


/*====== Custom animation ======*/

